<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Queritet-Diop's Exercise 3</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <h1><a href="/">Link to Start Page</a></h1>
    <form id="myForm">
      <label for="name">Name:</label>
      <input type="text" id="title" name="title" /><br />
      <label for="name">Content:</label><br />
      <textarea rows="5" id="content" name="content"></textarea><br />
      <input type="submit" value="Submit" />
    </form>
    <p id="result"></p>
    <script src="ex3.js"></script>
  </body>
</html>
